body {
    background-color: teal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    min-height: 100vh;
    background-color: teal;
    background-image: url('../assets/img/jumbotron.jpg');
    background-attachment: fixed;
    background-position: 0rem 0rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-content {
    color: white;
    padding: 5% 200px 0 2%;
}
.nav-title {
    font-size: 3rem;
}

 section {

    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

}

.card {

    width: 20em;
    height: 12em;
    margin: 0.5em;
    padding: 1em .5em;
    background-color: aqua;
        justify-content: center;
    align-items: center;

}

.card-wrap {
    padding:1em;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  /*  background-color: aquamarine; */
    height: 13.8em;

}

.form {

    width: 90%;
    height: 14em;
    margin: 1em;
    padding: 2em 1em;
    background-color: aqua;
}

.form-group {
    margin: 1em 1em;
}

.form-control {
    width: 30em;
    height: 2em;

}
.btn {
    width: 30em;
    height: 2em;
}

footer {

    min-height: 20vh;
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

}

.card-items {
    margin: 1rem 0;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
.card-title {
    text-transform: uppercase; 
    font-weight: 900;
}
  
.card-text {
    font-weight: normal;
}

.card-btn {
    font-weight: 800;
    width: 15rem;
    background-color:dodgerblue;
    color: floralwhite;
    height: 2rem;
}
