body {
    background-color: teal;
}
nav {

    min-height: 1vh;
    background-color: teal;

}
 section {

    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

}

.card {

    width: 20rem;
    height: 12rem;
    margin: 0.5rem;
    padding: 1rem .5rem;
    background-color: aqua;
    
}

.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: aquamarine;
}

.form {

    width: 45rem;
    height: 12rem;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: aqua;
}

.form-group {
    margin: 1rem 1rem;
}

.form-control {
    width: 30rem;
    height: 2rem;

}
.btn {
    width: 30rem;
    height: 2rem;
}